.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
_targets/
data/osm/
r5/
data/streetlight/
/.quarto/
/*_cache/
/*_files/
/site_libs/
/_book/
/rosm.cache/
*-tikzDictionary
run.Rout
nohup.out
*.log
*.synctex.gz
*.toc
*.aux
*.fdb_latexmk
*.fls
.vscode/settings.json
